* {

    margin: 0;
    padding: 0;
}

body {

    background-color: rgb(5, 15, 60);
}


.nav_bar {

    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 10px 50px 10px 50px;
    border-radius: 25px;
}

.nav_bar .logo img{

    width: 200px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border: hidden;
    border-radius: 30%;
    cursor: pointer;
} 

.logo img:hover{

    transition: 1s;
    box-shadow:0.5px 0.5px 19px rgba(219, 163, 23, 0.5);    
}

.nav_items ul{

    display: flex;
    justify-content: right;
    padding: 10px;
    gap: 40px;
    list-style: none;
}

.nav_items ul a {

    text-decoration: none;
    color: rgb(14, 188, 215);
    font-size: 15px;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-radius: 20px;
    padding: 8px;
}

.nav_items ul a:hover{

    background-color: rgb(14, 188, 215);
    color: white;
    transition: 1s;
    box-shadow: 2px 2px 10px rgba(104, 200, 235, 0.7);
    transform: translateY(-8px) scale(1.5);
}

.background img{

    width: 1500px;
    height : 500px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 15px 15px 5px 5px;
    object-fit: cover;
    object-position: center;
}

.slogan {

    margin-top: 40px;
    margin-left: 300px;
    margin-right: 0px;
    border: 1px solid rgb(167, 66, 167);
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
    background-color: rgb(179, 23, 252);
    transition: 0.7s;
}

.slogan:hover {

    background-color: white;
    color:rgb(143, 5, 207);
    transition: 0.7s;
    box-shadow: 1px 1px 10px rgb(252, 191, 252);
    transform: translateY(-7px);
}

.slogan {

    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(255, 255, 255);
    letter-spacing: 1px;
}

.slogan #s-slogan {

    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 30px;
}

.exploration {

    display:flex;
    justify-content: space-between;
    align-items: center;
}

.exploration .ex-btn-1 a{

    display: flex;
    margin-left: 100px ;
    margin-right: 400px;
    margin-top: 100px;
    text-decoration: none;
    border: 1px solid;
    padding: 20px;
    background-color: rgb(10, 182, 105);
    color: white;
    border-radius: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400px;
    transition: 0.7s;
}

.exploration .ex-btn-1 a:hover {

    opacity: 0.9;
    transition: 0.5s;
    transform:translateY(-5px);
    box-shadow : 1px 1px 10px rgb(45, 114, 83)
}


.vm-sec h3,p{

    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.vm-sec h3 {

    padding-top: 10px;
    color: rgb(45, 33, 112);
}

.vm-sec {

    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.vm-sec p {

    margin-top: 10px ;
    color: aliceblue ;
    font-size: 17px;
}

.vision,.mission {

    margin-top: 20px;
    width: 700px;
    border-radius: 25px;
    background-color: rgb(59, 200, 255);
    transition: 0.7s;
}

.vision:hover,.mission:hover {

    box-shadow: 1px 1px 10px skyblue;
    color: rgb(59, 200, 255);
    transform: translateY(-8px);
    transition: 0.7s;  
}

.dest-cards {

    margin-left: 225px;
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    height: 450px;
}

.dest-cards .card {
    
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    width:800px ;
    border-radius: 10px;
    gap: 20px;
    background-color: rgb(213, 213, 213);
    transition: 0.7s;
}

#dest-head {

    color: whitesmoke;
    text-align: center;
    margin-top: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card img {

    width: 250px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: center;
}

.c-content {

    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 2px;
}

.card:hover {

    transform: translateY(-7px) scale(0.9);
    transition: 0.7s;
    box-shadow: 1px -1px 18px goldenrod;
}

#pack-head {

    text-align: center;
    margin-top: 50px;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.pack-container {

    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 100px;
    width: 1000px;
    height: 400px;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pack-container .pack {

    margin-top: 50px;
    border: 1px solid white;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: rgb(239, 239, 239);
    transition: 0.7s;
}

#basic:hover {

    transition: 0.9s;
    transform: translateY(-5px) scale(0.9);
    box-shadow: 1px -1px 18px skyblue;
}

#premium:hover {

    transition: 0.9s;
    transform: translateY(-5px) scale(0.9);
    box-shadow: 1px -1px 18px rgb(255, 226, 10);
}

#luxury:hover {

    transition: 0.9s;
    transform: translateY(-5px) scale(0.9);
    box-shadow: 1px -1px 18px rgb(187, 100, 207);
}

.pack h3 {

    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(107, 105, 105, 0.863);
}

.pack h2 {

    text-align: center;
    margin-top: 20px;
    color: rgb(229, 181, 60);
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pack p {

    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(137, 137, 137);
}

.pack a {

    text-decoration: none;
    text-align: center;
    margin-top: 40px;
    margin-left: 43px;
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(10, 182, 105);
    color: rgb(254, 254, 254);
    border-radius: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400px;
    transition: 0.7s;
}

.pack a:hover {

    opacity: 0.9;
    transition: 0.5s;
    transform:translateY(-4px);
    box-shadow : 1px 1px 10px rgb(45, 114, 83);
}

#contacts  {

    padding-left: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: rgb(98, 99, 100);
    transition: 0.7s;
}

#contacts:hover {

    transform: translateY(-5px);
    box-shadow: 1px 1px 10px white;
    transition: 0.7s;
}

#contacts h3{

    margin-bottom: 20px;
    color: aliceblue;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
}

#contacts h4{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#contacts p,address {

    display: flex;
    color: whitesmoke;
}

#contacts a {

    text-decoration: none;
    color: aquamarine;
}

footer p{

    margin-top: 5%;
    margin-bottom: 50px;
    text-align: center;
    color: silver;
}

#more {

    position: relative;
    top: 200px;
    left: 100px;
    padding: 5px;
    padding-left: 22px ;
    padding-right: 20px;
    padding-bottom: 10px;
    border-style: none;
    border-radius: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    cursor: pointer;
    color: whitesmoke;
    background-color: rgba(192, 192, 192, 0.392);
    transition: 0.7s;
}

#more:hover {

    opacity: 0.7;
    transform: translateX(8px) scale(0.9);
}